<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <connectionStrings>
     <!--<add name="DataContainer" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=StorageSpace;Integrated Security=True"   providerName="System.Data.SqlClient" />-->
     <add name="DataContainer" connectionString="Data Source=EVALUATION-SRV;Initial Catalog=StorageSpace;User Id=hatefi;Password=AmDhnoRx#"   providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>