<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>

    <add key="WebApiFuel" value="http://localhost:1890/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--<add key="WebApiFuel" value="https://fms.irisl.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
    
    <!--<add key="ida:FederationMetadataLocation" value="https://sso.irisl.net:2012/FederationMetadata/2007-06/FederationMetadata.xml " xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>    
    <add key="ida:Realm" value="urn:FuelTest" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ida:AudienceUri" value="urn:FuelTest" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />-->

    <add key="ida:FederationMetadataLocation" value="https://sso.irisl.net:2012/FederationMetadata/2007-06/FederationMetadata.xml " xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>    
    <add key="ida:Realm" value="urn:FuelTest" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ida:AudienceUri" value="urn:FuelTest" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  
    <!--<add key="ida:FederationMetadataLocation" value="https://localhost:2012/FederationMetadata/2007-06/FederationMetadata.xml " xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>    
    <add key="ida:Realm" value="urn:FMSTest" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ida:AudienceUri" value="urn:FMSTest" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />-->

    <!--<add key="ReportServerUrl" value="http://FMS:8002/ReportServer"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ReportsRootPath" value="/MITD.FMS.Reports" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />-->
    <add key="ReportServerUrl" value="http://hatefi-pc:802/ReportServer"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ReportsRootPath" value="/MITD.FMS.Reports" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  
  <system.identityModel xdt:Transform="Replace">
    <identityConfiguration saveBootstrapContext="true" maximumClockSkew="01:00:00">
      <audienceUris>
        <add value="urn:FuelTest" />
      </audienceUris>
      <securityTokenHandlers>
        <add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </securityTokenHandlers>
      <certificateValidation certificateValidationMode="None" />
      <issuerNameRegistry type="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry, System.IdentityModel.Tokens.ValidatingIssuerNameRegistry">
        <authority name="http://sso.irisl.net">
          <keys>
            <add thumbprint="5A6999344F841030587305DE7359477A9568CBE5" />
          </keys>
          <validIssuers>
            <add name="http://sso.irisl.net" />
          </validIssuers>
        </authority>
      </issuerNameRegistry>


    </identityConfiguration>
  </system.identityModel>
  
  <!--<system.identityModel xdt:Transform="Replace">
    <identityConfiguration saveBootstrapContext="true">
      <audienceUris>
        <add value="urn:FMSTest" />
      </audienceUris>
      <securityTokenHandlers>
        <add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </securityTokenHandlers>
      <certificateValidation certificateValidationMode="None" />
      <issuerNameRegistry type="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry, System.IdentityModel.Tokens.ValidatingIssuerNameRegistry">
        <authority name="http://SSO.IRISL.NET">
          <keys>
            <add thumbprint="5A6999344F841030587305DE7359477A9568CBE5" />
          </keys>
          <validIssuers>
            <add name="http://SSO.IRISL.NET" />
          </validIssuers>
        </authority>
      </issuerNameRegistry>


    </identityConfiguration>
  </system.identityModel>-->

  <system.identityModel.services xdt:Transform="Replace">

  <federationConfiguration>
      <cookieHandler requireSsl="false" />
      <wsFederation passiveRedirectEnabled="true" issuer="https://sso.irisl.net:2012/issue/wsfed" realm="urn:FuelTest" requireHttps="true" />
      <serviceCertificate>
        <certificateReference storeName="My" storeLocation="LocalMachine" x509FindType="FindByThumbprint" findValue="faa68b845f11a2f14592febdbcec119c96a45f42" />
      </serviceCertificate>
    </federationConfiguration>
  </system.identityModel.services>

  <!--<system.identityModel.services xdt:Transform="Replace">
    <federationConfiguration>
      <cookieHandler requireSsl="false" />
      <wsFederation passiveRedirectEnabled="true" issuer="https://localhost:2012/issue/wsfed" realm="urn:FMSTest" requireHttps="true" />
      <serviceCertificate>
        <certificateReference storeName="My" storeLocation="LocalMachine" x509FindType="FindByThumbprint" findValue="82FE463F3B87BE7E31AC71F50CC8C84C55DC5534" />
      </serviceCertificate>
    </federationConfiguration>
  </system.identityModel.services>-->

  <system.web>
  <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>