<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings><add name="VoucherLogEntities" connectionString="metadata=res://*/Data.VoucherLogModel.csdl|res://*/Data.VoucherLogModel.ssdl|res://*/Data.VoucherLogModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ali;initial catalog=StorageSpace;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AccServicePortBinding" />
        <binding name="AccServicePortBinding1" />
        <binding name="AccServicePortBinding2" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ngs-test.irisl.net:8004/Acc/2/serviceVoucher" binding="basicHttpBinding" bindingConfiguration="AccServicePortBinding" contract="HDAFinancialService.AccService" name="AccServicePort" />
      <endpoint address="http://ngs-test.irisl.net:8002/Acc/2/serviceVoucher" binding="basicHttpBinding" bindingConfiguration="AccServicePortBinding1" contract="SAPIDFinancialService.AccService" name="AccServicePort1" />
      <endpoint address="http://ngs-test.irisl.net:8009/Acc/2/serviceVoucher" binding="basicHttpBinding" bindingConfiguration="AccServicePortBinding2" contract="IRISLFinancialService.AccService" name="AccServicePort2" />
    </client>
  </system.serviceModel>
</configuration>