<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>

    <add name="DataContainer" connectionString="Data Source=.;Initial Catalog=StorageSpace;integrated security=true;" providerName="System.Data.SqlClient"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="VoucherLogEntities" connectionString="metadata=res://*/Data.VoucherLogModel.csdl|res://*/Data.VoucherLogModel.ssdl|res://*/Data.VoucherLogModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=StorageSpace;integrated security=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="FileStreamingEntities" connectionString="metadata=res://*/FileStreaming.FileStreaming.csdl|res://*/FileStreaming.FileStreaming.ssdl|res://*/FileStreaming.FileStreaming.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=StorageSpace;integrated security=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="FinanceViewsContext" connectionString="Data Source=.;Initial Catalog=StorageSpace;integrated security=true;" providerName="System.Data.SqlClient"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

  </connectionStrings>

  <appSettings>
    <!--<add key="SigningThumbPrint" value="E1C9722F9DCEDAEB17C720B17430DFB5E0792055"
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IssuerURI" value="http://sso.navgan.net"
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AudianceUri" value="urn:FuelTest"
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />-->

    <add key="SigningThumbPrint" value="5A6999344F841030587305DE7359477A9568CBE5"
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IssuerURI" value="http://sso.irisl.net"
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AudianceUri" value="urn:FuelTest"
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

  </appSettings>


  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="certificate_behavior" xdt:Locator="Match(name)" xdt:Transform="Replace">
          <clientCredentials>
            <clientCertificate storeName="My"
                               storeLocation="LocalMachine"
                               x509FindType="FindByThumbprint"
                               findValue="FAA68B845F11A2F14592FEBDBCEC119C96A45F42"
                               />
            <!--<clientCertificate x509FindType="FindByThumbprint" findValue="8f2e5cda552836fffa9727728f3c9d845e57c91a" storeLocation="LocalMachine" storeName="My"/>-->

          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://evaluation-srv:3350/OffhireManagementService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOffhireManagementService"
        contract="OffhireService.IOffhireManagementService" name="BasicHttpBinding_IOffhireManagementService"
                xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
      
      <endpoint address="https://sso.irisl.net:2012/services/UserManagement.svc"
       binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserManagementService"
       contract="UserManagement.IUserManagementService" name="BasicHttpBinding_IUserManagementService" behaviorConfiguration="certificate_behavior"
                xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
      <!--<endpoint address="https://localhost:2012/services/UserManagement.svc"
       binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserManagementService"
       contract="UserManagement.IUserManagementService" name="BasicHttpBinding_IUserManagementService" behaviorConfiguration="certificate_behavior"
          xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>-->

    </client>
  </system.serviceModel>

</configuration>